<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>meet.User-Side-App</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dior-customer</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tez</string>
		<string>gpay</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>paytm</string>
		<string>whatsapp</string>
		<string>credpay</string>
		<string>bhim</string>
		<string>amazonpay</string>
		<string>upi</string>
		<string>upibillpay</string>
		<string>upidebitcard</string>
		<string>upipaysi</string>
	</array>
</dict>
</plist>
